body {
  background: url(../img/paisaje.jpg);
  
}


img {
  width: 100%;
}

/* PARA EJERCICIO HTML5 */
.marco-foto {
  height: 300px;
  width: 300px;
  border: 5px solid white;
}

.photo{
	color: blue;
}